* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: clamp(14px, 1rem, 18px);
}

body {
  background-color: black;
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  padding: 1rem;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view1 .bottom {
  background-color: #333;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  border-radius: 0.7rem;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view1 .bottom .text h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.6rem;
}
main section.view1 .bottom .text p {
  font-weight: 300;
  line-height: 1.7;
  font-size: 1.1rem;
  opacity: 60%;
}
main section.view1 .bottom .text button {
  color: black;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  padding: 0.7rem 1rem;
}
main section.view2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1rem;
}
main section.view2 .top, main section.view2 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main section.view2 .top .element, main section.view2 .bottom .element {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
main section.view2 .top .element small, main section.view2 .bottom .element small {
  opacity: 0.6;
}
main section.view2 .top .element h2, main section.view2 .bottom .element h2 {
  font-size: 2.5rem;
  font-weight: 300;
}
main section.view3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view3 .top, main section.view3 .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view3 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view3 .bottom > p {
  text-transform: uppercase;
}
main section.view3 .bottom {
  background-color: #333;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  border-radius: 0.7rem;
}
main section.view3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view3 .bottom .text h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
}
main section.view3 .bottom .text p {
  font-weight: 300;
  line-height: 1.7;
  font-size: 1.1rem;
  opacity: 60%;
}
main section.view4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view4 .top, main section.view4 .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view4 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view4 .bottom > p {
  text-transform: uppercase;
}
main section.view4 .bottom {
  background-color: #333;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  border-radius: 0.7rem;
}
main section.view4 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view4 .bottom .text h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
}
main section.view4 .bottom .text p {
  font-weight: 300;
  line-height: 1.7;
  font-size: 1.1rem;
  opacity: 60%;
}
main section.view5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view5 .text > p {
  width: 100%;
  font-size: 2rem;
  text-transform: uppercase;
}
main section.view6 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 4rem;
}
main section.view6 .card:nth-child(1) {
  background-image: url("./card1.webp");
}
main section.view6 .card:nth-child(2) {
  background-image: url("./card2.webp");
}
main section.view6 .card:nth-child(3) {
  background-image: url("./card3.webp");
}
main section.view6 .card {
  width: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main section.view6 .card .icons, main section.view6 .card .bottom {
  background-color: rgba(172, 172, 172, 0.5921568627);
  backdrop-filter: blur(5px);
  border: 1px solid white;
  border-radius: 0.7rem;
  padding: 1rem 1rem;
}
main section.view6 .card .top {
  display: flex;
  gap: 0.7rem;
  justify-content: flex-end;
}
main section.view6 .card .bottom {
  display: flex;
  justify-content: space-between;
}
main section.view6 .card .bottom p {
  text-transform: uppercase;
}
main section.view6 .card .icons {
  border-radius: 50%;
  width: -moz-fit-content;
  width: fit-content;
  font-size: small;
}
main section.view7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view7 .top, main section.view7 .bottom {
  width: 100%;
}
main section.view7 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view7 .bottom > p {
  text-transform: uppercase;
  font-weight: 400;
}
main section.view7 .bottom {
  background-color: #333;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.7rem;
}
main section.view7 .bottom .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main section.view7 .bottom .text h1 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}
main section.view7 .bottom .text button {
  border: none;
  outline: none;
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  border-radius: 0.7rem;
}
main section.view8 {
  width: 100%;
  padding: 2rem;
  background-color: rgb(188, 188, 51);
  border-radius: 0.7rem;
}
main section.view8 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  gap: 1rem;
}
main section.view8 .bottom small {
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: black;
}
main section.view8 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  gap: 1rem;
}
main section.view8 .bottom .text h1 {
  font-size: 4rem;
  font-weight: 400;
  max-width: 70%;
  line-height: 1.2;
  color: black;
}
main section.view8 .bottom .text button {
  background: black;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.7rem;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 900px) {
  main section.view1 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view1 .top, main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    justify-content: space-between;
    padding: 3.8rem;
  }
  main section.view1 .bottom .text {
    gap: 1.7rem;
  }
  main section.view1 .bottom .text h1 {
    font-size: 4rem;
  }
  main section.view1 .bottom .text p {
    font-size: 1.3rem;
    width: 70%;
  }
  main section.view1 .bottom .text button {
    font-size: 1rem;
  }
  main section.view2 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view3 {
    flex-direction: row-reverse;
    padding: 1rem 4rem;
  }
  main section.view3 .top, main section.view3 .bottom {
    width: 50%;
  }
  main section.view3 .bottom {
    justify-content: space-between;
    padding: 3.8rem;
  }
  main section.view3 .bottom .text {
    display: flex;
    gap: 1.7rem;
  }
  main section.view3 .bottom .text h2 {
    width: 80%;
    font-size: 2.8rem;
  }
  main section.view3 .bottom .text .paragraphs {
    font-size: 1.2rem;
    display: flex;
    gap: 2rem;
  }
  main section.view3 .bottom .text .paragraphs p {
    width: 50%;
  }
  main section.view4 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view4 .top, main section.view4 .bottom {
    width: 50%;
  }
  main section.view4 .bottom {
    justify-content: space-between;
    padding: 3.8rem;
  }
  main section.view4 .bottom .text {
    display: flex;
    gap: 1.7rem;
  }
  main section.view4 .bottom .text h2 {
    width: 80%;
    font-size: 2.8rem;
  }
  main section.view4 .bottom .text .paragraphs {
    font-size: 1.2rem;
    display: flex;
    gap: 2rem;
  }
  main section.view4 .bottom .text .paragraphs p {
    width: 50%;
  }
  main section.view5 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view6 {
    flex-direction: row;
    justify-content: space-evenly;
  }
  main section.view7 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view7 .top, main section.view7 .bottom {
    width: 50%;
  }
  main section.view7 .bottom {
    padding: 3.8rem;
  }
  main section.view7 .bottom .text {
    gap: 15rem;
  }
  main section.view7 .bottom .text h1 {
    width: 70%;
  }
  main section.view7 .bottom .text button {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */