*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
}

html,body{
    height:100%;
    width:100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    font-size: clamp(14px, 1rem ,18px);
}

body{
    background-color: black;
}

@mixin flex-column($gap:0rem){
    display:flex;
    flex-direction: column;
    gap:$gap;
}

section{
    max-width:2000px;
}

main{
    width:100%;
    @include flex-column(0rem);
    align-items: center;
    padding:1rem;
    

    section.view1{
        width:100%;
        @include flex-column(1rem);
        
        

        .top{
            width:100%;

            img{
                width:100%;
                border-radius: 0.7rem;
            }
        }
        .bottom{
            background-color: #333;
            @include flex-column(3rem);
            padding:1rem;
            border-radius: 0.7rem;
            .text{
                @include flex-column(0.7rem);

                h1{
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size:2.6rem;
                }
                p{
                    font-weight: 300;
                    line-height: 1.7;
                    font-size: 1.1rem;
                    opacity:60%;
                }
                button{
                    color:black;
                    width:fit-content;
                    border:none;
                    outline:none;
                    border-radius: 0.7rem;
                    padding:0.7rem 1rem;
                }
            }

        }
        
    }

    section.view2{
        width:100%;
        @include flex-column(2.5rem);
        padding:1rem;

        .top,.bottom{
            width:100%;
            display:flex;
            justify-content: space-around;
            
            .element{
                text-align: center;
                @include flex-column(0.2rem);
                small{
                    opacity:0.6;
                }
                h2{
                    font-size: 2.5rem;
                    font-weight: 300;
                }
                    
            }
        }
        

    }

    section.view3{
        width:100%;
        @include flex-column(1rem);
        padding:1rem;

        .top,.bottom{
            width:100%;
            @include flex-column(1rem);
        }

        .top{
            img{
                width:100%;
                border-radius: 0.7rem;
            }
        }
        .bottom>p{
                text-transform: uppercase;
            }
        .bottom{
            background-color: #333;
            @include flex-column(3rem);
            padding:1rem;
            border-radius: 0.7rem;
            
            .text{
                @include flex-column(1rem);

                h2{
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 2rem;
                }

                p{
                    font-weight: 300;
                    line-height: 1.7;
                    font-size: 1.1rem;
                    opacity:60%;  
                      
                }
            }
        }
    }

    section.view4{
        width:100%;
        @include flex-column(1rem);
        padding:1rem;

        .top,.bottom{
            width:100%;
            @include flex-column(1rem);
        }

        .top{
            img{
                width:100%;
                border-radius: 0.7rem;
            }
        }
        .bottom>p{
                text-transform: uppercase;
            }
        .bottom{
            background-color: #333;
            @include flex-column(3rem);
            padding:1rem;
            border-radius: 0.7rem;
            
            .text{
                @include flex-column(1rem);

                h2{
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 2rem;
                }

                p{
                    font-weight: 300;
                    line-height: 1.7;
                    font-size: 1.1rem;
                    opacity:60%;  
                      
                }
            }
        }
    }

    section.view5{
        width:100%;
        @include flex-column(1rem);
        padding:1rem;
        .text>p{
            width:100%;
            font-size: 2rem;
            text-transform: uppercase;
        }
    }

    section.view6{
        @include flex-column(1rem);
        width:100%;
        display:flex;
        gap:2rem;
        padding:4rem;
        
        .card:nth-child(1){
            background-image: url("./card1.webp");
        }
        .card:nth-child(2){
            background-image: url("./card2.webp");
        }
        .card:nth-child(3){
            background-image: url("./card3.webp");
        }
        .card{
            width:100%;
            
            aspect-ratio: 1/1;
            background-size: cover;
            border-radius: 0.7rem;

            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icons,.bottom{
                background-color: #acacac97;
                backdrop-filter: blur(5px);
                border:1px solid white;
                border-radius: 0.7rem;
                padding:1rem 1rem;
            }
            .top{
                display: flex;
                gap:0.7rem;
                justify-content: flex-end;
            }
            .bottom{
                display: flex;
                justify-content: space-between;

                p{
                    text-transform: uppercase;
                }
            }

            .icons{
                border-radius: 50%;
                width: fit-content;
                font-size: small;
            }
        }
    }

    section.view7{
        width:100%;
        @include flex-column(1rem);
        padding:1rem;

        .top,.bottom{
            width: 100%;
        }

        .top{
            img{
                width:100%;
                border-radius: 0.7rem;
            }
        }
        .bottom>p{
            text-transform: uppercase;
            font-weight: 400;   
        }
        .bottom{
            background-color: #333;
            @include flex-column(1rem);
            padding:1rem;
            border-radius: 0.7rem;
            .text{
                width:100%;
                @include flex-column(2.5rem);
                h1{
                    font-size: 3rem;
                    font-weight: 300;
                    text-transform: uppercase;
                }
                button{
                    border:none;
                    outline:none;
                    padding:1rem;
                    width: fit-content;
                    color: black;
                    border-radius: 0.7rem;
                }
            }
        }
    }

}

@media (min-width:900px){
    main{
            section.view1{
                flex-direction: row;
                padding:1rem 4rem;
                
                .top,.bottom{
                    width:50%;
                }

                .bottom{
                    justify-content: space-between;
                    padding:3.8rem;

                    .text{
                        gap:1.7rem;
                        h1{
                            font-size: 4rem;
                        }
                        p{
                            //  
                            font-size: 1.3rem;
                            width:70%;
                        }
                        button{
                            
                            font-size: 1rem;
                        }
                    }
                }
            }

            section.view2{
                
                flex-direction:row;
                padding:1rem 4rem;
            }

            section.view3{
                flex-direction: row-reverse;
                padding:1rem 4rem;

                .top,.bottom{
                    width: 50%;
                }

                .bottom{
                    justify-content: space-between;
                    padding:3.8rem;

                    .text{
                        display: flex;
                        gap:1.7rem;
                        h2{
                            width:80%;
                            font-size: 2.8rem;
                        }

                        .paragraphs{
                            font-size: 1.2rem;
                            display:flex;
                            gap:2rem; 
                        }

                        .paragraphs p{
                            width:50%;  
                        }
                    }

                }
            }

            section.view4{
                flex-direction: row;
                padding:1rem 4rem;

                .top,.bottom{
                    width:50%;
                }

                .bottom{
                    justify-content: space-between;
                    padding:3.8rem;

                    .text{
                        display: flex;
                        gap:1.7rem;
                        h2{
                            width:80%;
                            font-size: 2.8rem;
                        }

                        .paragraphs{
                            font-size: 1.2rem;
                            display:flex;
                            gap:2rem; 
                        }

                        .paragraphs p{
                            width:50%;  
                        }
                    }
                }
            }
            section.view5{
                flex-direction:row;
                padding:1rem 4rem;
            }
            section.view6{
                flex-direction: row;                
                justify-content: space-evenly;
            }

            section.view7{
                flex-direction: row;
                padding:1rem 4rem;

                .top,.bottom{
                    width:50%;
                }

                .bottom{
                    padding:3.8rem;
                    .text{
                        gap:15rem;
                        h1{
                            width:70%;
                        }
                        button{
                            font-size:1rem;
                        }
                    }
                }
            }
    }
}


